<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tavern</title>
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <nav>
            <h1>BOUNTY HUNTER</h1>
            <ul>
                <li>
                    <a href="http://localhost:8080/home">
                        <button>Home</button></a>
                </li>
                <li>
                    <a href="http://localhost:8080/tasks"><button>Tasks</button></a>

                </li>
                <li><button>Challenge</button></li>
                <li><button>Account</button></li>
                <li><button>Settings</button></li>
            </ul>
        </nav>

        <br>
        <main>
            <aside class="hunter">
                <h2>MASTER HUNTER</h2>
                <img src="m-lvl1-1.jpg" alt="" srcset="">
                <h3>Demonbane58</h3>
            </aside>
            <aside class="hunter-options">
                <ul>
                    <li><button class="option-list">SET TASKS</button></li>
                    <li><button class="option-list">GO FOR A HUNT</button></li>
                    <li><button class="option-list">TAKEDOWNS</button></li>
                </ul>

            </aside>

            <!-- <img src="<%= //current[0]['look'] %>" alt="" srcset=""> -->


        </main>

    </body>

</html>